body {
  background-color: #323232 !important;
}

.contours {
  background: url(static/contours.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  padding: 1em;
}